package pages

import "github.com/lvlcn-t/lvlcn-t.github.io/pkg/components/home"
import "github.com/lvlcn-t/lvlcn-t.github.io/pkg/config"

templ Home(data *config.Data) {
	<div>
		@home.Hero(&data.MetaData)
		@home.About(data.MetaData.AboutMe)
		@home.TechStack(data.TechStack...)
		@home.Contact()
		@home.Socials(data.Socials...)
	</div>
}
