package pages

import "github.com/lvlcn-t/ChronoTemplify/pkg/components"
import "github.com/lvlcn-t/ChronoTemplify/pkg/config"

templ Home(data *config.Data) {
	<div>
		@components.Hero(&data.MetaData)
		@components.About(data.MetaData.AboutMe)
		@components.TechStack(data.TechStack...)
		@components.Contact()
		@components.Socials(data.Socials...)
	</div>
}
